src/WarehouseBundle/Soap/SoapService.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tns="http://symfony.local/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             name="SoapWsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema elementFormDefault="qualified"
                   xmlns:tns="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema/"
                   targetNamespace="http://symfony.local/">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="model" type="xs:string" />
                    <xs:element name="category" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Product" type="Product" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <xs:complexType name="Category">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RequestCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Category" type="Category" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponseCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Сообщения процедуры sendSms -->
    <message name="createProductRequest">
        <part name="createProductRequest" element="tns:Request" />
    </message>
    <message name="createProductResponse">
        <part name="createProductResponse" element="tns:Response" />
    </message>

    <message name="updateProductRequest">
        <part name="updateProductRequest" element="tns:Request" />
    </message>
    <message name="updateProductResponse">
        <part name="updateProductResponse" element="tns:Response" />
    </message>

    <message name="listProductRequest">
        <part name="listProductRequest" element="tns:Request" />
    </message>
    <message name="listProductResponse">
        <part name="listProductResponse" element="tns:Response" />
    </message>

    <message name="deleteProductRequest">
        <part name="deleteProductRequest" element="tns:id" />
    </message>
    <message name="deleteProductResponse">
        <part name="deleteProductResponse" element="tns:Response" />
    </message>





    <message name="createCategoryRequest">
        <part name="createCategoryRequest" element="tns:RequestCategory" />
    </message>
    <message name="createCategoryResponse">
        <part name="createCategoryResponse" element="tns:ResponseCategory" />
    </message>

    <message name="updateCategoryRequest">
        <part name="updateCategoryRequest" element="tns:RequestCategory" />
    </message>
    <message name="updateCategoryResponse">
        <part name="updateCategoryResponse" element="tns:ResponseCategory" />
    </message>

    <message name="listCategoriesRequest">
        <part name="listCategoriesRequest" element="tns:RequestCategory" />
    </message>
    <message name="listCategoriesResponse">
        <part name="listCategoriesResponse" element="tns:ResponseCategory" />
    </message>

    <message name="deleteCategoryRequest">
        <part name="deleteCategoryRequest" element="tns:RequestCategory" />
    </message>
    <message name="deleteCategoryResponse">
        <part name="deleteCategoryResponse" element="tns:ResponseCategory" />
    </message>

    <!-- Привязка процедуры к сообщениям -->
    <portType name="soapServicePortType">
        <operation name="createProduct">
            <input message="tns:createProductRequest" />
            <output message="tns:createProductResponse" />
        </operation>
        <operation name="updateProduct">
            <input message="tns:updateProductRequest" />
            <output message="tns:updateProductResponse" />
        </operation>
        <operation name="listProduct">
            <input message="tns:listProductRequest" />
            <output message="tns:listProductResponse" />
        </operation>
        <operation name="deleteProduct">
            <input message="tns:deleteProductRequest" />
            <output message="tns:deleteProductResponse" />
        </operation>


        <operation name="createCategory">
            <input message="tns:createCategoryRequest" />
            <output message="tns:createCategoryResponse" />
        </operation>
        <operation name="updateCategory">
            <input message="tns:updateCategoryRequest" />
            <output message="tns:updateCategoryResponse" />
        </operation>
        <operation name="listCategories">
            <input message="tns:listCategoriesRequest" />
            <output message="tns:listCategoriesResponse" />
        </operation>
        <operation name="deleteCategory">
            <input message="tns:deleteCategoryRequest" />
            <output message="tns:deleteCategoryResponse" />
        </operation>
    </portType>

    <!-- Формат процедур веб-сервиса -->
    <binding name="SoapServiceBinding" type="tns:soapServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="createProduct">
            <soap:operation soapAction="urn:createProduct" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateProduct">
            <soap:operation soapAction="urn:updateProduct" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="listProduct">
            <soap:operation soapAction="urn:listProduct" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteProduct">
            <soap:operation soapAction="urn:deleteProduct" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>


        <operation name="createCategory">
            <soap:operation soapAction="urn:createCategory" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateCategory">
            <soap:operation soapAction="urn:updateCategory" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="listCategories">
            <soap:operation soapAction="urn:listCategories" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteCategory">
            <soap:operation soapAction="urn:deleteCategory" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- Определение сервиса -->
    <service name="SoapService">
        <port name="SoapServicePort" binding="tns:SoapServiceBinding">
            <soap:address location="http://symfony.local/soap" />
        </port>
    </service>
</definitions>