src/WarehouseBundle/Soap/SoapService.wsdl

<definitions name="ProductService"
             targetNamespace="http://symfony.local/soap"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://symfony.local/soap/stackoverflower.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="createProductRequest">
        <part name="name" type="xsd:string"/>
    </message>

    <message name="createProductResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <message name="getListRequest"></message>

    <message name="getListResponse">
        <part name="list" type="xsd:string"/>
    </message>

    <message name="editRequest">
        <part name="id" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
    </message>

    <message name="editResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <message name="deleteRequest">
        <part name="id" type="xsd:string"/>
    </message>

    <message name="deleteResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <portType name="ProductService_PortType">
        <operation name="createProduct">
            <input message="tns:NewRequest"/>
            <output message="tns:NewResponse"/>
        </operation>
        <operation name="getList">
            <input message="tns:getListRequest"/>
            <output message="tns:getListResponse"/>
        </operation>
        <operation name="edit">
            <input message="tns:editRequest"/>
            <output message="tns:editResponse"/>
        </operation>
        <operation name="delete">
            <input message="tns:deleteRequest"/>
            <output message="tns:deleteResponse"/>
        </operation>
    </portType>

    <binding name="ProductServiceBinding" type="tns:ProductService_PortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createProduct">
            <soap:operation soapAction="createProduct"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:new"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:new"
                        use="encoded"/>
            </output>
        </operation>

        <operation name="getList">
            <soap:operation soapAction="getList"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:get-list"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:get-list"
                        use="encoded"/>
            </output>
        </operation>

        <operation name="edit">
            <soap:operation soapAction="edit"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:edit"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:edit"
                        use="encoded"/>
            </output>
        </operation>

        <operation name="delete">
            <soap:operation soapAction="delete"/>
            <input>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:delete"
                        use="encoded"/>
            </input>

            <output>
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:symfony.local:delete"
                        use="encoded"/>
            </output>
        </operation>
    </binding>

    <service name="ProductService">
        <documentation>Description File of StackOverFlowerService</documentation>
        <port binding="tns:ProductServiceBinding" name="ProductServicePort">
            <soap:address
                    location="http://symfony.local/soap" />
        </port>
    </service>
</definitions>