src/WarehouseBundle/Soap/SoapService.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tns="http://symfony.local/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             name="SoapWsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema elementFormDefault="qualified"
                   xmlns:tns="http://schemas.xmlsoap.org/wsdl/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema/"
                   targetNamespace="http://symfony.local/">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="model" type="xs:string" />
                    <xs:element name="category" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Product" type="Product" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Сообщения процедуры sendSms -->
    <message name="createProductRequest">
        <part name="Request" element="tns:Request" />
    </message>
    <message name="createProductResponse">
        <part name="Response" element="tns:Response" />
    </message>

    <message name="updateProductRequest">
        <part name="Request" element="tns:Request" />
    </message>
    <message name="updateProductResponse">
        <part name="Response" element="tns:Response" />
    </message>

    <!-- Привязка процедуры к сообщениям -->
    <portType name="SoapServicePortType">
        <operation name="createProduct">
            <input message="tns:createProductRequest" />
            <output message="tns:createProductResponse" />
        </operation>
        <operation name="updateProduct">
            <input message="tns:updateProductRequest" />
            <output message="tns:updateProductResponse" />
        </operation>
    </portType>

    <!-- Формат процедур веб-сервиса -->
    <binding name="SoapServiceBinding" type="tns:SoapServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="createProduct">
            <soap:operation soapAction="urn:createProductAction" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateProduct">
            <soap:operation soapAction="urn:updateProductAction" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- Определение сервиса -->
    <service name="SoapService">
        <port name="SoapServicePort" binding="tns:SoapServiceBinding">
            <soap:address location="http://symfony.local/soap" />
        </port>
    </service>
</definitions>